/* Booked */

#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover,
body #booked-profile-page input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body div.booked-calendar input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .booked-tabs li.active a,
body #booked-profile-page .booked-tabs li.active a:hover,
body #booked-profile-page .appt-block .google-cal-button > a:hover,
#ui-datepicker-div.booked_custom_date_picker .ui-datepicker-header{
	background: var(--c-main3) !important;
	border-color: var(--c-main3) !important;
}

body div.booked-calendar .bc-head,
body div.booked-calendar .bc-head .bc-col {
	background: transparent !important;
	border-color: transparent !important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName{
	font-style: normal;
	text-transform: none;
	height: 18px;
	text-align: center;
	font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    color: #344a5f;
}

@media (min-width: 768px) {
	body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName{
		font-size: 30px;
		height: 30px;
	}
}

@media (max-width: 767px) {
	body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName a{
		display: block;
		padding: 0;
	}
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName a {
    color: #344a5f;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName a:hover {
	color: #344a5f;
	opacity: .5;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-right, 
body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-left {
    color: #344a5f !important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-right,
body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-right:hover {
	right: 0;
} 

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-left,
body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-left:hover {
	left: 0;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-right:hover,
body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .page-left:hover {
	color: var(--c-main3) !important;
} 

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row.top .bc-col{
	padding: 21px 0;
}

body div.booked-calendar-wrap div.booked-calendar{
	border-radius: 0;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row.top{
	min-height: 67px;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row.days .bc-col{
	font-weight: 500;
	letter-spacing: 0.2em;
}

@media (min-width: 768px) {
	body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row.days .bc-col{
		padding: 19px 0 18px;
    	font-size: 12px;
	}
}

body div.booked-calendar .bc-row.days .bc-col,
body #booked-profile-page .booked-tabs{
	background: #344a5f !important;
	border-color: #344a5f !important;
}

body div.booked-calendar-wrap div.booked-calendar{
	background: #fff;
	box-shadow: none;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date .date,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date:hover .date,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date:hover .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.blur .date,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.blur .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.blur:hover .date,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.blur:hover .date span{
	background: #fff !important;
	color: #667e96 !important;
	border: 2px solid transparent;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date:hover .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.blur:hover .date span {
	border: 2px solid var(--c-main2);
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col{
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	max-height: 80px;
	width: 14.285%;
	line-height: 46px;
}

@media (max-width: 991px) {
	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col{
		max-height: 60px;
	}
}

@media (max-width: 767px) {
	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col{
		max-height: 50px;
	}

	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col .date,
	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col .date .number{
		line-height: 50px !important;
	}

	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col .date .number{
		line-height: 40px !important;
		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
	}
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col:first-child{
	border-left: 1px solid #e5e5e5;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col:last-child{
	border-right: 1px solid #e5e5e5;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col{
	color: #667e96;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col .date {
	background: #f1f1f1;
}

@media (min-width: 768px) {
	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col{
		font-size: 14px;
	}
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today.prev-date {
	position: relative;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today.prev-date .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today .date span {
	box-shadow: none;
	color: var(--c-main2) !important;
    border: 2px solid var(--c-main2) !important;
    background: transparent !important;
}
@media (max-width:767px) {
    body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today.prev-date .date span,
	body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today .date span {
       border: none !important;
       border-radius: 0 !important;
    }
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today.prev-date:hover .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today.prev-date:focus .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today:hover .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today:focus .date span {
	color: #fff !important;
    background: var(--c-main2) !important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col:hover .date{
	background: var(--c-main2);
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col:hover .date span{
	background: rgba(0, 0, 0, 0);
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active:hover{
	background: rgba(0, 0, 0, 0);
	border-bottom-color: #e5e5e5;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active .date,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active:hover .date{
	background: #f1f1f1;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active .date .number,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active:hover .date .number{
	background: var(--c-main2);
	color: #fff;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.entryBlock{
	background: rgba(0, 0, 0, 0);
	border: 1px solid #e5e5e5;
	border-top: none;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.entryBlock .bc-col {
	padding: 0;
}

body .booked-appt-list{
	box-shadow: none;
	color: #344a5f;
	background: #f1f1f1;
	border-radius: 0;
}

body .booked-appt-list h2{
	color: #344a5f;
	text-align: left;
	font-weight: 900;
}

@media (min-width: 768px) {
	body .booked-appt-list h2{
		font-size: 30px;
		margin: 0 0 30px;
		line-height: 1.7;
	}
}

body .booked-appt-list h2 strong{
	color: #344a5f;
	font-weight: 400;
}

body .booked-appt-list .timeslot {
	padding: 10px 0;
}

body .booked-appt-list .timeslot .timeslot-title {
	color: var(--c-main3);
	font-weight: 400;
	line-height: 1;
    font-size: 16px;
	text-transform: none;
}

body .booked-appt-list .timeslot .timeslot-time {
	color: #667e96;
	font-weight: 400;
	line-height: 1;
    font-size: 16px;
	text-transform: none;
}

body .booked-appt-list .timeslot .timeslot-time i.fa-solid{
	color: var(--c-main3);
}

body .booked-appt-list .timeslot .spots-available{
	color: #fff;
	font-weight: 400;
	line-height: 1;
    font-size: 16px;
	text-transform: none;
	transition: color .15s ease-in-out;
}

@media (min-width: 721px) {
	body .booked-appt-list .timeslot .spots-available{
		color: var(--c-main3);
	}
}

#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a,
body #booked-profile-page input[type=submit].button-primary,
body div.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
body #booked-profile-page .appt-block .google-cal-button > a,
body .booked-modal p.booked-title-bar,
body div.booked-calendar .bc-col:hover .date span,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
.booked-ms-modal .booked-book-appt,
body #booked-profile-page .booked-tabs li a .counter{
	background: var(--c-main3);
}

body #booked-profile-page input[type=submit].button-primary,
body div.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
body #booked-profile-page .appt-block .google-cal-button > a,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
.booked-ms-modal .booked-book-appt,
body #booked-profile-page .booked-tabs li a .counter{
	margin-bottom: 0;
	font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    padding: 13px 44px;
    text-transform: capitalize;
    border-radius: 30px;
    border: 2px solid var(--c-main3);
    background-color: var(--c-main3);
    color: #fff;
	transition: all 0.4s linear 0s;
}

@media (max-width: 720px) {
	body #booked-profile-page input[type=submit].button-primary,
	body div.booked-calendar input[type=submit].button-primary,
	body .booked-list-view button.button,
	body .booked-list-view input[type=submit].button-primary,
	body .booked-list-view button.button,
	body .booked-list-view input[type=submit].button-primary,
	body .booked-modal input[type=submit].button-primary,
	body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
	body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
	body #booked-profile-page .appt-block .google-cal-button > a,
	body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
	.booked-ms-modal .booked-book-appt,
	body #booked-profile-page .booked-tabs li a .counter{
		margin-bottom: 10px;
	}
}

body #booked-profile-page input[type=submit].button-primary:hover,
body #booked-profile-page input[type=submit].button-primary:focus,
body #booked-profile-page input[type=submit].button-primary:active,
body div.booked-calendar input[type=submit].button-primary:hover,
body div.booked-calendar input[type=submit].button-primary:focus,
body div.booked-calendar input[type=submit].button-primary:active,
body .booked-list-view button.button:hover,
body .booked-list-view button.button:focus,
body .booked-list-view button.button:active,
body .booked-list-view input[type=submit].button-primary:hover,
body .booked-list-view input[type=submit].button-primary:focus,
body .booked-list-view input[type=submit].button-primary:active,
body .booked-list-view button.button:hover,
body .booked-list-view button.button:focus,
body .booked-list-view button.button:active,
body .booked-list-view input[type=submit].button-primary:hover,
body .booked-list-view input[type=submit].button-primary:focus,
body .booked-list-view input[type=submit].button-primary:active,
body .booked-modal input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:focus,
body .booked-modal input[type=submit].button-primary:active,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:focus,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:active,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block:hover,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block:focus,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block:active,
body #booked-profile-page .appt-block .google-cal-button > a:hover,
body #booked-profile-page .appt-block .google-cal-button > a:focus,
body #booked-profile-page .appt-block .google-cal-button > a:active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:focus,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:active,
.booked-ms-modal .booked-book-appt:hover,
.booked-ms-modal .booked-book-appt:focus,
.booked-ms-modal .booked-book-appt:active,
body #booked-profile-page .booked-tabs li a .counter:hover,
body #booked-profile-page .booked-tabs li a .counter:focus,
body #booked-profile-page .booked-tabs li a .counter:active{
	background: #667e96 !important;
	color: #fff !important;
	border-width: 2px !important;
	border-color: #667e96 !important;
}

@media screen and (max-width: 600px) {
    body .booked-modal .button {
        width: auto; 
    }
}

body #booked-profile-page input[type=submit].button-primary:hover .spots-available,
body #booked-profile-page input[type=submit].button-primary:focus .spots-available,
body #booked-profile-page input[type=submit].button-primary:active .spots-available,
body div.booked-calendar input[type=submit].button-primary:hover .spots-available,
body div.booked-calendar input[type=submit].button-primary:focus .spots-available,
body div.booked-calendar input[type=submit].button-primary:active .spots-available,
body .booked-list-view button.button:hover .spots-available,
body .booked-list-view button.button:focus .spots-available,
body .booked-list-view button.button:active .spots-available,
body .booked-list-view input[type=submit].button-primary:hover .spots-available,
body .booked-list-view input[type=submit].button-primary:focus .spots-available,
body .booked-list-view input[type=submit].button-primary:active .spots-available,
body .booked-list-view button.button:hover .spots-available,
body .booked-list-view button.button:focus .spots-available,
body .booked-list-view button.button:active .spots-available,
body .booked-list-view input[type=submit].button-primary:hover .spots-available,
body .booked-list-view input[type=submit].button-primary:focus .spots-available,
body .booked-list-view input[type=submit].button-primary:active .spots-available,
body .booked-modal input[type=submit].button-primary:hover .spots-available,
body .booked-modal input[type=submit].button-primary:focus .spots-available,
body .booked-modal input[type=submit].button-primary:active .spots-available,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover .spots-available,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:focus .spots-available,
body div.booked-calendar .booked-appt-list .timeslot .timeslot-people button:active .spots-available,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block:hover .spots-available,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block:focus .spots-available,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block:active .spots-available,
body #booked-profile-page .appt-block .google-cal-button > a:hover .spots-available,
body #booked-profile-page .appt-block .google-cal-button > a:focus .spots-available,
body #booked-profile-page .appt-block .google-cal-button > a:active .spots-available,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover .spots-available,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:focus .spots-available,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:active .spots-available,
.booked-ms-modal .booked-book-appt:hover .spots-available,
.booked-ms-modal .booked-book-appt:focus .spots-available,
.booked-ms-modal .booked-book-appt:active .spots-available,
body #booked-profile-page .booked-tabs li a .counter:hover .spots-available,
body #booked-profile-page .booked-tabs li a .counter:focus .spots-available,
body #booked-profile-page .booked-tabs li a .counter:active .spots-available{
	color: var(--c-main3);
}

body .booked-modal .bm-window p i.fa,
body .booked-modal .bm-window a,
body .booked-appt-list .booked-public-appointment-title,
body .booked-modal .bm-window p.appointment-title,
.booked-ms-modal.visible:hover .booked-book-appt{
	color: var(--c-main3);
}

body .booked-appt-list .timeslot .timeslot-title{
	color: var(--c-main3);
}

body .booked-form .cf-block select{
	height: 50px;
}

body #booked-profile-page input[type=submit].cancel,
body #booked-profile-page button.cancel,
body .booked-list-view input[type=submit].cancel,
body .booked-list-view button.cancel,
body .booked-calendar input[type=submit].cancel,
body .booked-calendar button.cancel,
body .booked-modal input[type=submit].cancel,
body .booked-modal button.cancel,
body .booked-modal .booked-forgot-goback.button {
	font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    padding: 13px 44px;
    text-transform: capitalize;
    border-radius: 30px;
    border: 2px solid var(--c-main);
    background-color: var(--c-main) !important;
    color: #fff !important;
	transition: all 0.4s linear 0s;
}

body #booked-profile-page input[type=submit].cancel:hover,
body #booked-profile-page input[type=submit].cancel:focus,
body #booked-profile-page input[type=submit].cancel:active,
body #booked-profile-page button.cancel:hover,
body #booked-profile-page button.cancel:focus,
body #booked-profile-page button.cancel:active,
body .booked-list-view input[type=submit].cancel:hover,
body .booked-list-view input[type=submit].cancel:focus,
body .booked-list-view input[type=submit].cancel:active,
body .booked-list-view button.cancel:hover,
body .booked-list-view button.cancel:focus,
body .booked-list-view button.cancel:active,
body .booked-calendar input[type=submit].cancel:hover,
body .booked-calendar input[type=submit].cancel:focus,
body .booked-calendar input[type=submit].cancel:active,
body .booked-calendar button.cancel:hover,
body .booked-calendar button.cancel:focus,
body .booked-calendar button.cancel:active,
body .booked-modal input[type=submit].cancel:hover,
body .booked-modal input[type=submit].cancel:focus,
body .booked-modal input[type=submit].cancel:active,
body .booked-modal button.cancel:hover,
body .booked-modal button.cancel:focus,
body .booked-modal button.cancel:active,
body .booked-modal .booked-forgot-goback.button:hover,
body .booked-modal .booked-forgot-goback.button:focus,
body .booked-modal .booked-forgot-goback.button:active {
	background: #667e96 !important;
	color: #fff !important;
	border-width: 2px !important;
	border-color: #667e96 !important;
}

@media (min-width: 721px) {
	body .booked-appt-list .timeslot .timeslot-people button .timeslot-mobile-title{
		display: none !important;
	}
}

body .booked-appt-list .timeslot:hover{
	background: #f9f9f9;
}

@media screen and (max-width: 720px) {
	body .booked-calendar .booked-appt-list .timeslot button .spots-available, body .booked-calendar-wrap .booked-appt-list .timeslot button .spots-available {
		padding-bottom: 8px;
	}
}

body .booked-modal .button {
	margin-bottom: 4px !important;
}
